* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "TT Hoves Pro Trial";
  /* background-image: url("https://media-public.canva.com/_jv3M/MAEk3F_jv3M/1/s.jpg"); */
}
@font-face {
  font-family: "TT Hoves Pro Trial";
  src: url("./assets/TTHovesProTrial-Rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
